<div class="page-header">
  <h1>LoveLive!</h1>
  <p>個人的なラブライブのグッズ管理</p>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <a href="http://www.lovelive-anime.jp/" target="_balnk">
      <img src="images/title.png" style="width: 100%">
    </a>
  </img>
</div>
