<div class="page-header">
  <h1>LoveLive!</h1>
  <p>個人的なラブライブのグッズ管理</p>
</div>

<div class="row">
  <div class="col-md-6 col-xs-12">
    <img src="images/title.png" style="width: 100%">
  </img>
</div>
